* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  background-color: #59c4c4;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  width: 100vw;
  height: 100vh;
}
